<% content_for :title do %>Accueil<% end %>

<h1>Bienvenue sur le site de Dj Wachou</h1>

<p>Vous souhaitez organiser une soirée entre étudiants , banquet, anniversaire, mariage, soirée d'enterrement de vie de garçon ou fille ou autre ?</p>

<p>Nous vous proposons d'animer votre fête selon vos désirs, avec DJ, karaoké, et animations lumières.</p>

<p>Nous mixons toutes sortes de musiques selon vos besoins.</p>

<p>Nous assurons le suivi de votre événement depuis sa mise en oeuvre jusqu'à sa finalisation...</p>

<p>Nous travaillons en collaboration avec des professionels tels que traiteurs, hotesses, serveurs/serveuses, maquilleuses, photographes, chanteuses, stripteaseurs/ stripteaseuses.</p>

<p>Pour réussir votre fête, n'hésitez pas à nous contacter par mail : <a href="mailto:event@djwachou.be">event@djwachou.be</a> ou  0487/169.923</p>


        <img src="/images/free-desktop-wallpaper-dj-turntable-1024x768_388.jpg".jpg" width="550" height="366">